* {
	margin: 0;
	padding: 0;
	font-family: Inter, sans-serif;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10001;
}

.modalContent {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	width: 40%;
	height: 90%;
	overflow-y: auto;
	scroll-behavior: smooth;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	text-align: center;
	position: relative;
	display: block;
}

.continueWith {
	margin: auto;
	display: block;
	width: 100%;
	height: 200px;
	margin-top: 100px;
}

.logInWith {
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin-top: 10px;
	border-radius: 8px;
	height: 20%;
	border: 1px solid #c7cbd4;
	transition: background-color 0.15s ease-in-out;
	cursor: pointer;
}

.logInWith:hover {
	background-color: #f0f5fe;
}

.logInWith p {
	margin-left: 10px;
}

.serviceLogo {
	width: 30px;
	height: auto;
}

.signRegisterButton {
	margin-top: 30px;
	width: 50%;
	height: 50px;
	background-color: #218cac;
	border-radius: 8px;
	color: white;
	border: 1px transparent;
	font-size: 15px;
	cursor: pointer;
}

.signRegisterButton:hover {
	background-color: #4da3bd;
}

.signRegisterButton:active {
	background-color: #47879a;
}

#signUpSectionForm {
	width: 100%;
	height: 92%;
	padding: 20px;
	box-sizing: border-box;
}

#logInSectionForm {
	width: 100%;
	height: 30%;
	padding: 20px;
	box-sizing: border-box;
}

#signUpSectionForm.hidden {
	display: none;
}

#logInSectionForm.hidden {
	display: none;
}

.form-group {
	position: relative;
	margin-top: 20px;
	width: 100%;
}

.form-group input {
	width: 100%;
	padding: 14px 10px 4px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form-group label {
	position: absolute;
	left: 10px;
	top: 14px;
	color: #888;
	background: white;
	padding: 0 4px;
	transition: 0.2s ease all;
	pointer-events: none;
}

.form-group input:focus + .form-group label,
.form-group label.active {
	top: -8px;
	left: 8px;
	font-size: 12px;
	color: #000;
}

.help-block {
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
	padding-left: 15px;
}
.help-block.wrongData {
	background-color: #eb0043;
	color: white;
	text-align: left;
	font-size: 13px;
}

.help-block.correctData {
	background-color: #00913f;
	color: white;
	text-align: left;
	font-size: 13px;
}

.gender-group {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	display: block;
}

.genderBox {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.continueWithBar {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: 20px 0;
	gap: 10px;
}

.continueWithBar::before,
.continueWithBar::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #ccc;
}

.continueWithBar span {
	padding: 0 10px;
	color: #666;
	font-weight: bold;
}

.registerLoginBar {
	width: 40%;
	height: 42px;
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 15px;
	border-radius: 8px;
	font-size: 14px;
	gap: 3px;
}

.registerLoginBar div {
	width: 49%;
	height: 80%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: #b8b8b8;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.registerLoginBar div.chosen {
	background-color: white;
	box-shadow: 0 0 8px -6px #000;
	color: black;
}
